body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

.topbar{
background:#003366;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
display:flex;
padding:20px;
gap:20px;
}

.main{
background:white;
padding:20px;
flex:3;
border-radius:10px;
}

.palette{
background:white;
padding:20px;
flex:1;
border-radius:10px;
height:fit-content;
}

.option-btn{
display:block;
width:100%;
padding:12px;
margin:10px 0;
cursor:pointer;
border:none;
background:#e6e6e6;
border-radius:5px;
text-align:left;
}

.option-btn:hover{
background:#d4d4d4;
}

.buttons{
display:flex;
justify-content:space-between;
margin-top:20px;
}

#question-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.q-box{
background:#ddd;
padding:10px;
text-align:center;
cursor:pointer;
border-radius:5px;
}

.timer{
background:orange;
padding:10px;
border-radius:5px;
font-weight:bold;
}
